## To make a movie recommender system, first I import necessary csv files.The movie file contains movielists and rating file contains rating given to various movies by different users

In [ ]:
import numpy as np
import pandas as pd

In [2]:
movie=pd.read_csv("movie.csv",encoding='latin-1',error_bad_lines=False)
rating=pd.read_csv("rating.csv",encoding='latin-1',error_bad_lines=False)

In [3]:
movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
rating.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [6]:
print(movie.shape)
print(rating.shape)

(27278, 3)
(20000263, 4)

In [7]:
# Total number of movies and users in rating dataset

rating['movieId'].nunique()

26744

In [8]:
rating['userId'].nunique()

138493

In [9]:
movie.columns

Index(['movieId', 'title', 'genres'], dtype='object')

In [10]:
rating.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [11]:
movie['genres'].value_counts()

Drama                                                4520
Comedy                                               2294
Documentary                                          1942
Comedy|Drama                                         1264
Drama|Romance                                        1075
                                                     ...
Action|Adventure|Crime|Drama|Sci-Fi                     1
Adventure|Drama|Thriller|War                            1
Adventure|Animation|Drama|Fantasy|Musical|Romance       1
Mystery|Romance|Sci-Fi|Thriller                         1
Action|Animation|Children|Comedy|Musical                1
Name: genres, Length: 1342, dtype: int64

In [12]:
rating['userId'].value_counts()

118205    9254
8405      7515
82418     5646
121535    5520
125794    5491
          ...
59390       20
23558       20
34668       20
80291       20
58028       20
Name: userId, Length: 138493, dtype: int64

## There are total 138493 users who rated 26744 different movies in total. Some of them are movielovers i.e. they have seen and rated many movies and some have rated so small amount of movies that we may not include in our system.

In [13]:
# Users who have rated movies at least 300 times

x=rating['userId'].value_counts()>300
movlov=x[x].index.tolist()
movlov

[118205,
 8405,
 82418,
 121535,
 125794,
 74142,
 34576,
 131904,
 83090,
 59477,
 130767,
 79159,
 8963,
 15617,
 92011,
 71975,
 20132,
 46470,
 88820,
 63147,
 130459,
 120575,
 9544,
 31122,
 18611,
 125978,
 18138,
 91193,
 111549,
 68026,
 41267,
 51703,
 92269,
 70201,
 35128,
 105580,
 14705,
 54465,
 114406,
 136268,
 12131,
 53346,
 24688,
 107326,
 131347,
 26867,
 27469,
 119048,
 123606,
 67346,
 86529,
 22901,
 129583,
 131894,
 91867,
 7201,
 24219,
 62812,
 61168,
 68063,
 51558,
 97853,
 32344,
 80092,
 103223,
 107640,
 128258,
 79531,
 128309,
 92956,
 118754,
 76630,
 106441,
 59414,
 113668,
 122995,
 116189,
 50297,
 52260,
 72008,
 33736,
 52009,
 43194,
 117144,
 3907,
 137202,
 27053,
 31404,
 42929,
 119531,
 135425,
 66763,
 116317,
 64843,
 131961,
 2261,
 42204,
 903,
 69793,
 73611,
 49554,
 58953,
 95301,
 23173,
 4358,
 80920,
 16676,
 72983,
 4222,
 133811,
 55765,
 101044,
 34651,
 99754,
 52636,
 110758,
 134567,
 32514,
 75810,
 60159,
 57735,
 21398,
 89307,
 116361,
 137277,
 9034,
 59407,
 34856,
 81186,
 51199,
 17040,
 104345,
 100366,
 102888,
 54305,
 3318,
 10303,
 43545,
 112988,
 75678,
 66836,
 75299,
 24830,
 70936,
 25101,
 25978,
 104043,
 62040,
 15478,
 9087,
 131651,
 26193,
 39181,
 40058,
 21163,
 133372,
 123352,
 77696,
 89242,
 65401,
 15486,
 33082,
 73026,
 66263,
 100134,
 98865,
 121930,
 54107,
 106939,
 46396,
 138208,
 45987,
 50943,
 68575,
 60887,
 33349,
 741,
 62160,
 6719,
 134773,
 37317,
 80771,
 58069,
 89402,
 41079,
 101861,
 120948,
 21391,
 982,
 29499,
 156,
 21861,
 66810,
 137686,
 18628,
 130622,
 10761,
 54113,
 110706,
 91349,
 42096,
 134401,
 113081,
 67527,
 89495,
 80668,
 137343,
 76292,
 16938,
 136599,
 135090,
 24661,
 51075,
 66617,
 98420,
 59852,
 96370,
 67443,
 92499,
 41613,
 66533,
 113991,
 81706,
 113806,
 89299,
 65304,
 90968,
 101127,
 86839,
 116302,
 12767,
 53998,
 43384,
 72401,
 106676,
 123297,
 6636,
 129540,
 124831,
 80207,
 79366,
 41283,
 130191,
 102911,
 75469,
 68558,
 39214,
 78356,
 109883,
 53640,
 19590,
 117395,
 15701,
 23061,
 103654,
 127256,
 98206,
 127138,
 113209,
 114412,
 37253,
 105498,
 47439,
 62925,
 44241,
 17333,
 4507,
 95254,
 775,
 11900,
 10514,
 107356,
 83275,
 76155,
 93234,
 116498,
 16606,
 27482,
 41638,
 104347,
 113610,
 3797,
 35227,
 15718,
 69683,
 10678,
 52877,
 6373,
 11719,
 99342,
 112762,
 80185,
 119367,
 59544,
 60018,
 94377,
 76437,
 102025,
 32094,
 66649,
 34587,
 14280,
 101458,
 93152,
 99499,
 45015,
 91626,
 33402,
 64060,
 102680,
 56504,
 84849,
 65529,
 42032,
 9545,
 133133,
 3858,
 84476,
 63046,
 68358,
 57716,
 120572,
 48677,
 50168,
 18706,
 85926,
 116263,
 80886,
 51507,
 35109,
 106906,
 115606,
 114095,
 16865,
 42369,
 9930,
 60361,
 31181,
 77884,
 42069,
 114624,
 136054,
 112365,
 27054,
 108248,
 134690,
 21070,
 91893,
 768,
 135795,
 131275,
 5843,
 21078,
 110826,
 66401,
 110858,
 117315,
 77018,
 16162,
 10443,
 24127,
 18415,
 13064,
 23190,
 67075,
 130477,
 89364,
 97826,
 115811,
 3284,
 74054,
 52116,
 111959,
 32984,
 104063,
 29037,
 27278,
 19711,
 102038,
 23523,
 87561,
 10321,
 74937,
 40483,
 86722,
 28398,
 113181,
 4967,
 60181,
 80501,
 54494,
 46744,
 78308,
 23599,
 96601,
 48644,
 12644,
 138325,
 121894,
 28195,
 81487,
 11434,
 70816,
 103986,
 18191,
 8805,
 49817,
 29575,
 137885,
 76213,
 108967,
 8647,
 137037,
 50367,
 134497,
 88773,
 70379,
 124633,
 3397,
 105588,
 23180,
 25411,
 113075,
 106308,
 60762,
 6099,
 13494,
 38335,
 9562,
 118955,
 117948,
 15529,
 49212,
 58426,
 136875,
 61696,
 105357,
 77247,
 76737,
 29069,
 59873,
 85640,
 118848,
 119271,
 44654,
 110190,
 100781,
 114579,
 4276,
 12793,
 7828,
 125178,
 110847,
 94976,
 74289,
 130987,
 18354,
 81267,
 94259,
 10989,
 108142,
 97602,
 38160,
 4450,
 122436,
 94013,
 13623,
 11081,
 76972,
 89081,
 53853,
 84752,
 32632,
 58667,
 35834,
 51227,
 103291,
 71170,
 118999,
 104824,
 2397,
 116556,
 52439,
 80391,
 1849,
 43296,
 124339,
 74028,
 71315,
 111880,
 41517,
 90186,
 56847,
 32161,
 104916,
 54549,
 103028,
 45815,
 88738,
 118534,
 55479,
 64572,
 120450,
 99386,
 78104,
 128690,
 63834,
 92637,
 39497,
 119148,
 121870,
 122310,
 27666,
 41929,
 27041,
 51616,
 135155,
 29656,
 50045,
 17455,
 35282,
 114270,
 29056,
 97533,
 109745,
 77999,
 42228,
 23459,
 95501,
 49205,
 96750,
 79357,
 116900,
 34202,
 135033,
 34494,
 92516,
 93387,
 76540,
 51978,
 34899,
 83331,
 97860,
 50746,
 81583,
 61729,
 129159,
 92919,
 111088,
 3289,
 70877,
 120379,
 134637,
 109744,
 39583,
 44492,
 43317,
 29879,
 42886,
 55556,
 83343,
 126269,
 121436,
 15585,
 11902,
 7699,
 53830,
 13753,
 13730,
 100349,
 66201,
 72929,
 23055,
 84480,
 3664,
 112832,
 105161,
 13285,
 65180,
 102098,
 123514,
 1763,
 32717,
 127453,
 37042,
 52075,
 125849,
 39766,
 128077,
 62762,
 126395,
 42692,
 117054,
 109933,
 118106,
 3629,
 26582,
 114805,
 23333,
 136989,
 96684,
 111523,
 10164,
 68710,
 110227,
 49229,
 97141,
 126072,
 3625,
 80099,
 94541,
 71928,
 66023,
 115115,
 113073,
 67303,
 72421,
 35514,
 103181,
 58612,
 59702,
 88604,
 78740,
 55389,
 97176,
 107579,
 67544,
 48904,
 41160,
 15720,
 91643,
 55726,
 24719,
 126661,
 14512,
 34440,
 96780,
 28688,
 122364,
 82134,
 69378,
 68214,
 38756,
 9145,
 39382,
 110991,
 110656,
 81000,
 122980,
 37530,
 74222,
 134210,
 116960,
 110004,
 42429,
 44296,
 99781,
 9690,
 20845,
 54259,
 38988,
 586,
 30317,
 114898,
 50566,
 53930,
 63459,
 8966,
 90078,
 60923,
 96600,
 30507,
 123327,
 20372,
 127713,
 13666,
 25511,
 88312,
 60518,
 26162,
 77007,
 52225,
 43209,
 112203,
 42353,
 18907,
 49999,
 67996,
 114570,
 78362,
 99448,
 41281,
 39099,
 43188,
 25345,
 78453,
 109286,
 31244,
 37925,
 133329,
 14994,
 89703,
 15497,
 114659,
 74966,
 48527,
 4347,
 48568,
 127501,
 7321,
 110307,
 103861,
 8541,
 90500,
 82788,
 55076,
 73074,
 86736,
 134175,
 79393,
 105216,
 4129,
 2762,
 113487,
 87283,
 79071,
 75012,
 132082,
 114933,
 85190,
 9116,
 1966,
 37423,
 100556,
 107572,
 25676,
 24816,
 122534,
 56720,
 118882,
 95932,
 12044,
 63219,
 125008,
 34402,
 29310,
 66049,
 132039,
 95726,
 98470,
 37264,
 63643,
 46545,
 62375,
 55237,
 13955,
 23039,
 26623,
 50211,
 56257,
 93227,
 10389,
 25093,
 66143,
 131910,
 58648,
 33185,
 125270,
 52520,
 63858,
 56879,
 134328,
 122035,
 103856,
 64191,
 131227,
 69662,
 11794,
 64271,
 132603,
 66088,
 62984,
 41070,
 88795,
 135071,
 69850,
 76625,
 94090,
 38539,
 100712,
 119661,
 121543,
 39154,
 74628,
 99360,
 47542,
 68796,
 124052,
 88804,
 69124,
 13964,
 8739,
 83959,
 27531,
 83823,
 43945,
 34650,
 57727,
 80034,
 5576,
 125585,
 20246,
 14908,
 43525,
 28860,
 73882,
 109152,
 9175,
 3676,
 12158,
 123754,
 50603,
 102705,
 136806,
 88228,
 130019,
 35609,
 41859,
 4084,
 122704,
 61496,
 122134,
 44384,
 48929,
 94628,
 55848,
 86741,
 129746,
 82908,
 93219,
 126067,
 6921,
 54447,
 104349,
 39346,
 3576,
 77297,
 66362,
 87428,
 88176,
 572,
 22688,
 24691,
 121516,
 105040,
 93710,
 32861,
 86066,
 119677,
 60427,
 83556,
 23130,
 28916,
 76486,
 12026,
 54160,
 36594,
 131746,
 56520,
 95239,
 107126,
 111139,
 63071,
 120290,
 114701,
 34700,
 115870,
 6366,
 49208,
 7036,
 118416,
 40008,
 15601,
 11560,
 68341,
 38251,
 130827,
 45637,
 128047,
 23317,
 130193,
 70025,
 119675,
 102845,
 127719,
 88024,
 66837,
 101165,
 93018,
 20294,
 79662,
 128893,
 359,
 120666,
 62222,
 103998,
 88858,
 116590,
 18390,
 33575,
 16612,
 6112,
 17320,
 7051,
 31503,
 64430,
 48410,
 2669,
 95216,
 123601,
 6976,
 99937,
 45709,
 10759,
 22411,
 52661,
 208,
 75141,
 11074,
 131180,
 51245,
 62051,
 105059,
 101275,
 42640,
 22205,
 21664,
 96225,
 110130,
 78424,
 32671,
 19776,
 1507,
 101110,
 95327,
 22122,
 80949,
 28611,
 24945,
 75448,
 114758,
 15203,
 127063,
 128527,
 129805,
 46645,
 10560,
 24800,
 61610,
 10627,
 132187,
 55420,
 2657,
 36204,
 108195,
 28529,
 31838,
 85893,
 52457,
 112852,
 120312,
 64150,
 14678,
 124998,
 69829,
 127840,
 57398,
 58170,
 87094,
 127871,
 118344,
 42913,
 70770,
 132509,
 9197,
 18069,
 68060,
 25960,
 123817,
 92706,
 2568,
 18471,
 49024,
 15616,
 74241,
 134156,
 114531,
 22352,
 80989,
 54478,
 ...]

In [14]:
ratings=rating[rating['userId'].isin(movlov)]
ratings.shape

(9891292, 4)

In [15]:
len(movlov)

16184

## We have found 16184 such users who rated a lot of movies, now I am going to remove timestamp column which is not useful in this case and then I will merge movie and rating files.

In [16]:
movie=movie[['movieId','title','genres']]
ratings=ratings[['userId','movieId','rating']]

In [17]:
movie_with_rating=ratings.merge(movie,on='movieId')

## Now I would keep those movies, which have got at least 300 times rating from users i.e. only famous movies will be there in the list.

In [18]:
a=movie_with_rating['movieId'].value_counts()>300
famous=a[a].index.tolist()
len(famous)

4887

In [19]:
movie_with_rating=movie_with_rating[movie_with_rating['movieId'].isin(famous)]

In [20]:
movie_with_rating.shape

(9057628, 5)

In [21]:
movie_with_rating.drop_duplicates(subset=['userId','title'],inplace=True)

In [22]:
movie_with_rating.shape

(9057628, 5)

## Now I shall create a pivot table where the index will contain movie names, columns will contain user ids and values will be rating given to a particular movie by a particular user

In [23]:
pt=movie_with_rating.pivot_table(columns='userId',index='title',values='rating')

In [24]:
pt

userId,11,24,54,58,91,96,104,116,131,132,...,138406,138411,138414,138436,138437,138454,138456,138472,138474,138493
title,,,,,,,,,,,,,,,,,,,,,
"'burbs, The (1989)",NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,3.0,NaN,4.0,NaN
(500) Days of Summer (2009),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.5,4.5,NaN,NaN,3.5,NaN,NaN
*batteries not included (1987),5.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...And Justice for All (1979),NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10 (1979),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
[REC] (2007),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
eXistenZ (1999),5.0,3.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
xXx (2002),NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
xXx: State of the Union (2005),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Â¡Three Amigos! (1986),NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,2.5,2.0,...,NaN,3.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN

In [25]:
pt.shape

(4887, 16184)

## The pivot table contains 4887 different movies and 16184 different users; My next aim is to replace the NaN values with -1 in the pivot table to get rid of ambiguity.

In [26]:
pt.fillna(-1,inplace=True)

In [27]:
from scipy.sparse import csr_matrix
matrix=csr_matrix(pt)

In [28]:
matrix

<4887x16184 sparse matrix of type '<class 'numpy.float64'>'
	with 79091208 stored elements in Compressed Sparse Row format>

## I have converted the pivot table to sparse matrix to train the model

In [29]:
from sklearn.neighbors import NearestNeighbors
NN=NearestNeighbors(algorithm='brute')

In [30]:
pt.shape

(4887, 16184)

In [31]:
NN.fit(matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='minkowski',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

## The n_neighbors is set 11 by me to predict 10 similar movies with the selected movie.

In [39]:
d,s=NN.kneighbors(pt.iloc[500,:].values.reshape(1,16184),n_neighbors=11)

In [40]:
pt.iloc[0,:].values.reshape(1,16184)

array([[-1., -1.,  3., ..., -1.,  4., -1.]])

In [106]:
# It is kept here to check different movies with index no.

pt.index[1933]

'Harry Potter and the Deathly Hallows: Part 1 (2010)'

## Few examples:

In [48]:
d,s=NN.kneighbors(pt.iloc[500,:].values.reshape(1,16184),n_neighbors=11)

print(s)

for i in s:
    print(pt.index[i],end=' ')

[[ 500  499 4082 3439 3440 4556 3441 2937 3692 3438 3706]]
Index(['Beverly Hills Cop III (1994)', 'Beverly Hills Cop II (1987)',
       'Specialist, The (1994)', 'Police Academy 4: Citizens on Patrol (1987)',
       'Police Academy 5: Assignment: Miami Beach (1988)',
       'Under Siege 2: Dark Territory (1995)',
       'Police Academy 6: City Under Siege (1989)', 'Money Train (1995)',
       'RoboCop 3 (1993)', 'Police Academy 3: Back in Training (1986)',
       'Rocky V (1990)'],
      dtype='object', name='title')

In [47]:
d,s=NN.kneighbors(pt.iloc[3436,:].values.reshape(1,16184),n_neighbors=11)

print(s)

for i in s:
    print(pt.index[i],end=' ')

[[3436 3437 3438 3439 3440 3441 1024 1399 3454 2388 2935]]
Index(['Police Academy (1984)',
       'Police Academy 2: Their First Assignment (1985)',
       'Police Academy 3: Back in Training (1986)',
       'Police Academy 4: Citizens on Patrol (1987)',
       'Police Academy 5: Assignment: Miami Beach (1988)',
       'Police Academy 6: City Under Siege (1989)',
       'Crocodile Dundee II (1988)',
       'European Vacation (aka National Lampoon's European Vacation) (1985)',
       'Porky's (1982)', 'Karate Kid, Part III, The (1989)',
       'Money Pit, The (1986)'],
      dtype='object', name='title')

In [52]:
d,s=NN.kneighbors(pt.iloc[4000,:].values.reshape(1,16184),n_neighbors=11)

print(s)

for i in s:
    print(pt.index[i],end=' ')

[[4000  882 3366 3634  396    8 4266  161 3633 3365 1297]]
Index(['Sleeping Beauty (1959)', 'Cinderella (1950)', 'Peter Pan (1953)',
       'Rescuers, The (1977)', 'Bambi (1942)',
       '101 Dalmatians (One Hundred and One Dalmatians) (1961)',
       'Sword in the Stone, The (1963)', 'Alice in Wonderland (1951)',
       'Rescuers Down Under, The (1990)', 'Pete's Dragon (1977)',
       'Dumbo (1941)'],
      dtype='object', name='title')

In [68]:
d,s=NN.kneighbors(pt.iloc[2261,:].values.reshape(1,16184),n_neighbors=11)

print(s)

for i in s:
    print(pt.index[i],end=' ')

[[2261 2262   99 2263 2910 2909 2817 2545  554 2425 4166]]
Index(['Iron Eagle (1986)', 'Iron Eagle II (1988)',
       'Aces: Iron Eagle III (1992)', 'Iron Eagle IV (1995)',
       'Missing in Action 2: The Beginning (1985)', 'Missing in Action (1984)',
       'Meatballs Part II (1984)', 'Leonard Part 6 (1987)', 'Black Dog (1998)',
       'King Kong Lives (1986)', 'Steel (1997)'],
      dtype='object', name='title')

In [58]:
d,s=NN.kneighbors(pt.iloc[46,:].values.reshape(1,16184),n_neighbors=11)

print(s)

for i in s:
    print(pt.index[i],end=' ')

[[  46   47   48 4052 4518 2094 1390 1761 3432 2263 4166]]
Index(['3 Ninjas (1992)', '3 Ninjas Kick Back (1994)',
       '3 Ninjas: High Noon On Mega Mountain (1998)', 'Son of the Mask (2005)',
       'Turbo: A Power Rangers Movie (1997)', 'House of the Dead, The (2003)',
       'Ernest Scared Stupid (1991)', 'Glitter (2001)',
       'PokÃ©mon 3: The Movie (2001)', 'Iron Eagle IV (1995)', 'Steel (1997)'],
      dtype='object', name='title')

In [88]:
d,s=NN.kneighbors(pt.iloc[2266,:].values.reshape(1,16184),n_neighbors=11)

print(s)

for i in s:
    print(pt.index[i],end=' ')

[[2266 4377  774 4840  341 2267 4838  196 3923 2915 3672]]
Index(['Iron Man 2 (2010)', 'Thor (2011)',
       'Captain America: The First Avenger (2011)',
       'X-Men: First Class (2011)', 'Avengers, The (2012)',
       'Iron Man 3 (2013)', 'X-Men Origins: Wolverine (2009)',
       'Amazing Spider-Man, The (2012)',
       'Sherlock Holmes: A Game of Shadows (2011)',
       'Mission: Impossible - Ghost Protocol (2011)',
       'Rise of the Planet of the Apes (2011)'],
      dtype='object', name='title')

In [89]:
d,s=NN.kneighbors(pt.iloc[4377,:].values.reshape(1,16184),n_neighbors=11)

print(s)

for i in s:
    print(pt.index[i],end=' ')

[[4377  774 4378  196 2267 4840 1844  775 2743 2915 4473]]
Index(['Thor (2011)', 'Captain America: The First Avenger (2011)',
       'Thor: The Dark World (2013)', 'Amazing Spider-Man, The (2012)',
       'Iron Man 3 (2013)', 'X-Men: First Class (2011)',
       'Green Lantern (2011)', 'Captain America: The Winter Soldier (2014)',
       'Man of Steel (2013)', 'Mission: Impossible - Ghost Protocol (2011)',
       'Transformers: Dark of the Moon (2011)'],
      dtype='object', name='title')

In [90]:
d,s=NN.kneighbors(pt.iloc[774,:].values.reshape(1,16184),n_neighbors=11)

print(s)

for i in s:
    print(pt.index[i],end=' ')

[[ 774 4377  196  775 1844 4378 2267 2743 1000 4473 4808]]
Index(['Captain America: The First Avenger (2011)', 'Thor (2011)',
       'Amazing Spider-Man, The (2012)',
       'Captain America: The Winter Soldier (2014)', 'Green Lantern (2011)',
       'Thor: The Dark World (2013)', 'Iron Man 3 (2013)',
       'Man of Steel (2013)', 'Cowboys & Aliens (2011)',
       'Transformers: Dark of the Moon (2011)', 'Wolverine, The (2013)'],
      dtype='object', name='title')

In [98]:
d,s=NN.kneighbors(pt.iloc[1933,:].values.reshape(1,16184),n_neighbors=11)

print(s)

for i in s:
    print(pt.index[i],end=' ')

[[1933 1934 1936 4377 3403  774  196 2127 3923 2267 4294]]
Index(['Harry Potter and the Deathly Hallows: Part 1 (2010)',
       'Harry Potter and the Deathly Hallows: Part 2 (2011)',
       'Harry Potter and the Half-Blood Prince (2009)', 'Thor (2011)',
       'Pirates of the Caribbean: On Stranger Tides (2011)',
       'Captain America: The First Avenger (2011)',
       'Amazing Spider-Man, The (2012)', 'Hunger Games, The (2012)',
       'Sherlock Holmes: A Game of Shadows (2011)', 'Iron Man 3 (2013)',
       'Tangled (2010)'],
      dtype='object', name='title')

In [101]:
d,s=NN.kneighbors(pt.iloc[1932,:].values.reshape(1,16184),n_neighbors=11)

print(s)

for i in s:
    print(pt.index[i],end=' ')

[[1932 1939 1938 1935 1937 2843 4141 3947 2798 4842 4095]]
Index(['Harry Potter and the Chamber of Secrets (2002)',
       'Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)',
       'Harry Potter and the Prisoner of Azkaban (2004)',
       'Harry Potter and the Goblet of Fire (2005)',
       'Harry Potter and the Order of the Phoenix (2007)',
       'Men in Black II (a.k.a. MIIB) (a.k.a. MIB 2) (2002)',
       'Star Wars: Episode II - Attack of the Clones (2002)', 'Shrek 2 (2004)',
       'Matrix Reloaded, The (2003)', 'X2: X-Men United (2003)',
       'Spider-Man 2 (2004)'],
      dtype='object', name='title')

In [102]:
d,s=NN.kneighbors(pt.iloc[4094,:].values.reshape(1,16184),n_neighbors=11)

print(s)

for i in s:
    print(pt.index[i],end=' ')

[[4094 4095 2894 3404 2639 2637 4141 3201 4837 3946 4842]]
Index(['Spider-Man (2002)', 'Spider-Man 2 (2004)', 'Minority Report (2002)',
       'Pirates of the Caribbean: The Curse of the Black Pearl (2003)',
       'Lord of the Rings: The Two Towers, The (2002)',
       'Lord of the Rings: The Fellowship of the Ring, The (2001)',
       'Star Wars: Episode II - Attack of the Clones (2002)',
       'Ocean's Eleven (2001)', 'X-Men (2000)', 'Shrek (2001)',
       'X2: X-Men United (2003)'],
      dtype='object', name='title')

In [105]:
d,s=NN.kneighbors(pt.iloc[4474,:].values.reshape(1,16184),n_neighbors=11)

print(s)

for i in s:
    print(pt.index[i],end=' ')

[[4474 4473 1684 1844  902 2140 1688 3014 2804  431 3541]]
Index(['Transformers: Revenge of the Fallen (2009)',
       'Transformers: Dark of the Moon (2011)',
       'G.I. Joe: The Rise of Cobra (2009)', 'Green Lantern (2011)',
       'Clash of the Titans (2010)', 'I Am Number Four (2011)', 'Gamer (2009)',
       'Mummy: Tomb of the Dragon Emperor, The (2008)', 'Max Payne (2008)',
       'Battle: Los Angeles (2011)', 'Push (2009)'],
      dtype='object', name='title')